#1. Write a program to reverse a string.

In [1]:
name = "Ketaki Ubale"; #declaring name variable as a string.
print(name[::-1]);     # print the reverse string.

elabU ikateK

2. Check if a string is a palindrome.

In [2]:
#Enter input string 
name="MADAM" 
 
#Declare an empty string variable   
revName = "" 
 
    #Iterate string with for loop 
for i in name:
    revName = i + revName   
print("Reversed string : ",revName) 
 
if(name==revName):    # comparing the string and reverse string
    print("The string is a palindrome.") 
else: 
    print("The string is not a palindrome.")

Reversed string :  MADAM
The string is a palindrome.

3.Convert a string to uppercase.

In [3]:
name = "Shravan"  # Declaring name variable as a string
result = name.upper(); # convert the string into uppercase
print(result) # print the result.

SHRAVAN

4. Convert a string to lowercase.

In [4]:
name1 = "KUNDAN" # Declaring name variable as a string.
result1 = name1.lower();  # converting string from uppercase to lowercase
print(result1)            # print the result.

kundan

5. Count the number of vowels in a string.

In [6]:
String = input('Enter the string :')  #take user input
count = 0                             #to check for less conditions

String = String.lower()  #keep string in lowercase
for i in String:          #iterate string with for loop
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':   #check the condition for each character from the string
        #if True
        count+=1
#check if any vowel found
if count == 0:
    print('No vowels found')
else:
    print('Total vowels are :' + str(count))

Enter the string : My name is Ketaki Ubale

Total vowels are :9

6.Count the number of consonants in a string.

In [7]:
consonants=0

# Enter an input string 
user_input = input("Enter a string: ")
 
# convert string in case insensitive
string = user_input.lower()
 
for i in range(0,len(string)):  #iterate input string using for loop.
    if string[i] not in ('a',"e","i","o","u"," "):   # check the vovel are not into string
        consonants = consonants + 1;                 # consonants add by count 
 
print("The number of consonant:",consonants);   # print the number of consonants

Enter a string:  My name is Ketaki Ubale.

The number of consonant: 11

7. Remove all whitespaces from a string.

In [60]:
name = input("Enter a string") #taking input as a string
name2 = name.replace(" ", "")  # replace from space to no space using replace method
print(name2)                   # print the result

Enter a string Ketaki  Nikhil  Ubale.

KetakiNikhilUbale.

8. Find the length of a string without using the `len()` function.

In [63]:
name = input("Enter a string") # taking user input as a string
count = 0                     # decalre a count variable as 0
for i in name:                # iterate the string using for loop
    count += 1;              # count the number of character from the string
print("Length of the Entered string is: ", count) # display the length of string

Enter a string Shravan Ubale

Length of the Entered string is:  13

9. Check if a string contains a specific word.

In [69]:
string = "Hello world!"  #declaring string  variable as a  string
if "world!" in string:    # checking the world! word havning in the string or not using if else condition
     print("Yes its having'world!'")    # true condition if having 'world!' in the string.
else:
     print("Not having 'world!'")       # false condition if not having 'world!' in the string.

Yes its having'world!'

10. Replace a word in a string with another word.

In [71]:
name = "My name is Ketaki" #declared name variable as a string
rname = name.replace("Ketaki","Shravan") # Replace the word using replace function
print(rname) # print the result

My name is Shravan

11. Count the occurrences of a word in a string.

In [1]:
def word_count(str): # create a function with passing parameter as a str.
    counts = dict()  #created a dictionary for counts
    words = str.split() #make seperate word from the string

    for word in words: #iterate string str in word
        if word in counts:   #check the word in string 
            counts[word] += 1  #true then add the count
        else:
            counts[word] = 1   #false then display 1

    return counts # function return

print( word_count('My name is ketaki, My name is Shravan, My name is Kundan' )) #print the count given string

{'My': 3, 'name': 3, 'is': 3, 'ketaki,': 1, 'Shravan,': 1, 'Kundan': 1}

12. Find the first occurrence of a word in a string.

In [14]:
name = "Hello World!" #decalre name variable as a string
result2 = name.find('World') #using find method got the first occurance 
print(result2)              #display result

6

13. Find the last occurrence of a word in a string.

In [17]:
message = "Hello, welcome to my world."  #decalre name variable as a string

x = message.rfind("e")   #using rfind method got the last occurance 

print(x)  #display the result

13

14. Split a string into a list of words.

In [21]:
string = "The atmosphere provides us with oxygen for breathing." # decalring a variable as a string
result = string.split()                                         # using split method convered the string into list of word
print(result)                                                   #display the result

['The', 'atmosphere', 'provides', 'us', 'with', 'oxygen', 'for', 'breathing.']

15. Join a list of words into a string.

In [33]:
states = ["My","State","is","Maharashtra"]  # declaring a states as a list
print(" ".join(states)) # using join function made it to a string

My State is Maharashtra

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [34]:
name = "The air around us is a mixture of several gasses." # declaring a name as a string
result = name.replace(" ", "_")                            # using replace function space is repaced by the underscore
print(result)                                              #result display

The_air_around_us_is_a_mixture_of_several_gasses.

17. Check if a string starts with a specific word or phrase.

In [36]:
message = "Germs are also present in the air."  # declaring message as a string

x = message.startswith("Germs")                 #using startswith function check the Germs is started word or not.

print(x)                                      # print the result

True

18. Check if a string ends with a specific word or phrase.

In [39]:
message = "Germs are also present in the air."  # declaring message as a string

x = message.endswith("air.")                 #using startswith function check the Germs is ended word or not.

print(x)                                      # print the result

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [40]:
text = "The density of air decreases with height." # declaring text as a string
result = text.title()                              # using title method converted string words first letter in upper case
print(result)                                      # display result

The Density Of Air Decreases With Height.

20. Find the longest word in a string.

In [44]:
sentence = "The second layer of the atmospherer is called the Stratosphere."# Python program to read a String and Print Longest

word = sentence.split()     # Split the string to a list of words

longest_word = max(word, key = len)    # Find the longest word

print("Longest word: ",longest_word)   #print the longest word

Longest word:  Stratosphere.

21. Find the shortest word in a string.

In [48]:
sentence = "The second layer of the atmospherer called the Stratosphere."# Python program to read a String and Print Longest

word = sentence.split()     # Split the string to a list of words

shortest_word = min(word, key = len)    # Find the shortest word

print("Longest word: ", shortest_word)   #print the shortest word

Longest word:  of

22. Reverse the order of words in a string.

In [53]:
string = "The ozone layer is found in this layer"   # reversing words in a given string

s = string.split()[::-1 ]        # split the string and reverse 
l = []
for i in s:                         
  
    l.append(i)                       # appending reversed words to l

print(" ".join(l))                    # printing reverse words

layer this in found is layer ozone The

23. Check if a string is alphanumeric.

In [57]:
message = "troposphere123" 

x = message.isalnum()  #using isalnum function check the given string is alphanumeric or not

print(x)              # print the result as True because string is alphanumeric

True

24. Extract all digits from a string.

In [63]:
import re  #The regular expressions need to import

test_string = 'Ketaki123Ubale456'
 
print("The original string : " + test_string)   # printing original strings 
 
res = re.sub("\D", "", test_string) # using re Extract digit string(using “\D”, and only digits are extracted from the string.)
     
print("The digits string is : " + str(res))  # print result

The original string : Ketaki123Ubale456
The digits string is : 123456

25. Extract all alphabets from a string.

In [67]:
import re   #The regular expressions need to import

ini_string = "123abcd==#$ABGFD--cjw"   # initialising string
 
print ("initial string : ", ini_string)   # printing strings
 
res1 = " ".join(re.split("[^a-zA-Z]*", ini_string))  # code to find characters in string using re.split 
 
print ("first string result: ", str(res1))     # printing resultant string

initial string :  123abcd==#$ABGFD--cjw
first string result:    a b c d  A B G F D  c j w

26. Count the number of uppercase letters in a string.

In [71]:
string=input("Enter string:")  #user input as a string
count=0
for i in string:               #iterate string using for loop
      if(i.isupper()):         # check the character from string is upper case if yes then count will increment else exit the loop
            count=count+1

print("The number of uppercase characters is:", count) # print the count of the upper case

Enter string: KETAKI Ubale

The number of uppercase characters is: 7

27. Count the number of lowercase letters in a string.

In [78]:
string=input("Enter string:")   #user input as a string
count=0
for i in string:                  #iterate string using for loop
      if(i.islower()):          # check the character from string is lower case if yes then count will increment else exit the loop
            count=count+1

print("The number of Lower case characters is:", count)  # print the count of the lower case

Enter string: Ketaki

The number of Lower case characters is: 5

28. Swap the case of each character in a string.

In [81]:
message = "HUMANS live in the troposphere"  

swap = message.swapcase();# using swapcase function converts all uppercase characters to lowercase and vice versa of the given string
print(swap)               # print the result of swapcase string

humans LIVE IN THE TROPOSPHERE

29. Remove a specific word from a string.

In [85]:
text = "The Air gets colder as you climb higher in the troposphere." 
result = text.replace("Air","")       #using replace method 'Air' is replaced with the empty string
print (result)                          # displayed the result

The  gets colder as you climb higher in the troposphere.

30. Check if a string is a valid email address.

In [93]:
import re   # Make a regular expression
 
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'  # for validating an Email
 
def check(email):                                      # Define a function for validating an Email
 
 
    if(re.fullmatch(regex, email)):           # pass the regular expression and the string into the fullmatch() method
        print("Valid Email")
    else:
        print("Invalid Email")
check("ashubale0089@gmail.com")

Valid Email

31. Extract the username from an email address string.

In [105]:
import re                 #need to import regular expression
regexString = r'^([^@]+)@[^@]+$'         
emailString = 'ketakiubale@gmail.com'
match_object = re.search(regexString, emailString)  #using re.search method 
if not match_object is None:
    print (match_object.group(1))
else:
    print("Did not match")

ketakiubale

In [2]:
import re
def userName(email):
    return re.findall("\w*",email)[0]        #using findall function used

print(userName("ketakiubale123@gmail.com"))    #print the user name only from the email id
print(userName('ashubale0089@gmail.com'))

ketakiubale123
ashubale0089

In [8]:
email = "ketakiubale20689@gmail.com"
name1 = email.split("@")[0]       # using split method string is splited with the @
name2 = name1.split(".")[0]
print(name1)

ketakiubale20689

32. Extract the domain name from an email address string.

In [9]:
email = 'ketakiubale@gmail.com'  # initializing strings
 
print("The original string is : " + str(email))  # printing original string
 
res = email.split('@')[1]   # using split() to get domain name
 
print("Domain name : " + str(res)) # printing result

The original string is : ketakiubale@gmail.com
Domain name : gmail.com

33. Replace multiple spaces in a string with a single space.

In [22]:
 str1 = "The atmosphere       provides us        with oxygen for         breathing.  " 

' '.join(str1.split())  # split() returns a list of all the words in the string. join with the single space with join method

'The atmosphere provides us with oxygen for breathing.'

34. Check if a string is a valid URL.

In [8]:
import re 
def checkURL(str):    # to check for url in a string

# The regex function can store all the characters including the upper case and the lower case of the alphabets, numbers, special cases and characters etc
    regex = 'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\), ]|(?:%[0-9a-fA-F][0-9a-fA-F]))+' 
    URL = re.findall(regex,str) # findall() function used with the conditions which is valid for url in the strings
    return URL 
url = "https://www.tutorialspoint.com/python-program-to-check-for-url-in-a-string" 
print("The url is: ", checkURL(url))

The url is:  ['https://www.tutorialspoint.com/python-program-to-check-for-url-in-a-string']

35. Extract the protocol (http or https) from a URL string.

In [21]:
url = 'https://stackoverflow.com/questions/9626535/get-domain-name-from-url'
parts = url.split('//', 1)  # using split method url is seperated by //
print (parts[0].split(':')[0]) # display the url 0 index  splited with :

https

36. Find the frequency of each character in a string.

In [25]:
text = "Hello World!"   # initializing string
 
freq = {}                 # using naive method to get count
 
for i in text:            # of each element in string
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

print("Count of all characters is :\n "   #printing result
      + str(freq))

Count of all characters is :
 {'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}

37. Remove all punctuation from a string.

In [33]:
import string
 
def remove_punctuation(input_string):                           #define function with taking one string as a argument
    translator = str.maketrans('', '', string.punctuation)      # Make a translator object to replace punctuation with none
    return input_string.translate(translator)                    # Use the translator

description = "Hello, World! It's a beautiful day."            # created a description variable as a string
result=(remove_punctuation(description))                     # function passes argument as a string stored in result variable
print(result)                                                # print the result

Hello World Its a beautiful day

38. Check if a string contains only digits.

In [36]:
number = "1234"       # declared a number as a string
if number.isdigit():    # check the number contain digit or not using isdigit() method
    print("The string contains only digits!")       # true condition 
else:                                  
    print("The string does not contain only digits.")   # false condition

The string contains only digits!

39. Check if a string contains only alphabets.

In [40]:
string = "KetakiUbale"       # declared a string as a string
if string.isalpha():    # check the string contain alphabates or not using isalpha() method
    print("The string contains only alphabates!")       # true condition 
else:                                  
    print("The string does not contain only alphabates.")   # false condition

The string contains only alphabates!

40. Convert a string to a list of characters.

In [50]:
name = "KetakiUbale"     # decalred name as a string
result = list(name)      # string converted into list of character
print(result)            # display result

['K', 'e', 't', 'a', 'k', 'i', 'U', 'b', 'a', 'l', 'e']

41. Check if two strings are anagrams.

In [1]:
def checkstring(s1, s2):        # function to check if two strings are anagram or not
     
    if(sorted(s1)== sorted(s2)):     # the sorted strings are checked
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")        
         
# driver code 
string1 ="race"
string2 ="care"
checkstring(string1, string2)

The strings are anagrams.

42. Encode a string using a Caesar cipher.

In [2]:
shift = 3 # defining the shift count

text = "HELLO WORLD"

encryption = ""

for c in text:

    # check if character is an uppercase letter
    if c.isupper():

        # find the position in 0-25
        c_unicode = ord(c)

        c_index = ord(c) - ord("A")

        # perform the shift
        new_index = (c_index + shift) % 26

        # convert to new character
        new_unicode = new_index + ord("A")

        new_character = chr(new_unicode)

        # append to encrypted string
        encryption = encryption + new_character

    else:

        # since character is not uppercase, leave it as it is
        encryption += c
        
print("Plain text:",text)

print("Encrypted text:",encryption)

Plain text: HELLO WORLD
Encrypted text: KHOOR ZRUOG

43. Decode a Caesar cipher encoded string.

In [17]:
def encrypt_text(plaintext,n):
    ans = ""
    for i in range(len(plaintext)):        # iterate over the given text
        ch = plaintext[i]
        
        if ch==" ":                         # check if space is there then simply add space
            ans+=" "
       
        elif (ch.isupper()):                 # check if a character is uppercase then encrypt it accordingly 
            ans += chr((ord(ch) + n-65) % 26 + 65)
        
        else:                                      # check if a character is lowercase then encrypt it accordingly
            ans += chr((ord(ch) + n-97) % 26 + 97)
    
    return ans

plaintext = "HELLO EVERYONE"
n = 1
print("Plain Text is : " + plaintext)
print("Shift pattern is : " + str(n))
print("Cipher Text is : " + encrypt_text(plaintext,n))

Plain Text is : HELLO EVERYONE
Shift pattern is : 1
Cipher Text is : IFMMP FWFSZPOF

44. Find the most frequent word in a string.

In [8]:
from collections import defaultdict
 
test_list = ["ohh best for", "love ohh","ohh best"]  #nitializing Matrix
 
print("The list is : " + str(test_list))                     # printing original list
  
temp = defaultdict(int)                                    # Using loop + max() + split() + defaultdict()
 
for sub in test_list:                                   # memoizing count
    for wrd in sub.split(): 
        temp[wrd] += 1
        
res = max(temp, key=temp.get)                  # getting max frequency
 
print("Word with maximum frequency : " + str(res))     # printing result

The list is : ['ohh best for', 'love ohh', 'ohh best']
Word with maximum frequency : ohh

45. Find all unique words in a string.

In [13]:
str1 = input("Please enter a sentence: ")  #taking input as a string

print("The words in that sentence are: ", str1.split())   # splited string 

unique = set(str1)                        # using set string made the unique
print("Here are the unique words in that sentence: ",unique)   # print the unique words

Please enter a sentence:  Hello World! And Well come again!

The words in that sentence are:  ['Hello', 'World!', 'And', 'Well', 'come', 'again!']
Here are the unique words in that sentence:  {'H', 'n', ' ', 'i', 'l', 'W', '!', 'c', 'm', 'g', 'd', 'A', 'a', 'o', 'e', 'r'}

46. Count the number of syllables in a string.

In [53]:
lines = ["BCDOO FG HLKI LMN PQR STVE WXYZE"]   # decalre line as a string variable
count = 0                                    # dclaring count = 0
vowels = "aeiou"                             # decalring vowels;

for line in lines:                           #iterate the lines in line 
    for word in line.lower().split(" "):      # converted in to lower and splited the word from string
        for i in range(len(word)):            #finding the lenghth of word
            if word[i] in vowels and (i == 0 or word[i-1] not in vowels): # checking if having vowel in word then add the count
                count +=1                     # adding count
print(count) # display result

4

47. Check if a string contains any special characters.

In [5]:
firstString = "This string ha$ many $pecial ch@racters"  # decalring firstString as a string
secondString = "ThisStringHas0SpecialCharacters"         # declaring secondString as a string 
print(firstString.isalnum())                             # using isalnum function will check the having special charater into string or not
print(secondString.isalnum())

False
True

48. Remove the nth word from a string.

In [7]:
name = "Hello, how are you"; # declaring name as a string
name2 = name.replace("how",""); # using replace method how word is replaced by blank ans stored the name2 variable
print(name2); # display the name2 as a final result

Hello,  are you

49. Insert a word at the nth position in a string.

In [6]:
#first method
print("Hello {} and {}" .format("pw","skills")) # by using format method we can insert the word in string

Hello pw and skills

In [11]:
# second method
print("Hello, how are you?" + "and" + " I am fine") # using concatination we can insert the word into the string

Hello, how are you?and I am fine

In [ ]:
# third method
x = "hi"
y = "pwskills"

print(f"{x}  OK  {y}")

hi  OK  pwskills

50. Convert a CSV string to a list of lists.

In [ ]:
import csv
  
with open('samplefile.csv', 'r') as read_obj:
  
    csv_reader = csv.reader(read_obj)  # Return a reader object which will iterate over lines in the given csvfile

    list_of_csv = list(csv_reader)        # convert string to list                
  
    print(list_of_csv)

In [16]:
  
import pandas as pd                                # import the pandas
  
dict = {                                              # Creating Dictionary
    'series': ['Friends', 'Money Heist', 'Marvel'],
    'episodes': [200, 50, 45],
    'actors': [' David Crane', 'Alvaro', 'Stan Lee']
}
  
df = pd.DataFrame(dict)                                 # Creating Dataframe
print(df)

        series  episodes        actors
0      Friends       200   David Crane
1  Money Heist        50        Alvaro
2       Marvel        45      Stan Lee

List Based Practice Problem :

List Based Questions
1. Create a list with integers from 1 to 10.

In [21]:
number = [1,2,3,4,5,6,7,8,9,10] # created a list having 1 to 10 values
print(type(number))              # print the type of number variable (as a list)
print(number)                    # print the number list

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [22]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13] # created num as a list havaing value 1 to 13
num2 = len(num)                       # using len() find the length of num and stored into the num2 variable
print(num2)                           # display the result of num2

13

3. Append an element to the end of a list.

In [33]:
l1 = [1,2,3,4,5,6]  # created a l1 having list
l1.append(7)        # using append method add the element at the end of the list
print(l1)           #print the result

[1, 2, 3, 4, 5, 6, 7]

4. Insert an element at a specific index in a list.

In [34]:
list1 = ['Sun', 'rises', 'in', 'the', 'east'] # declare list1 as a list
list1.insert(0, "The")                        # using insert method added the 0th index the "The" in the list
print(list1)                                 # print the result

['The', 'Sun', 'rises', 'in', 'the', 'east']

 5. Remove an element from a list by its value.

In [35]:
programming_languages = ["JavaScript", "Python", "Java", "C++"]  #original list

print(programming_languages)                                     #print original list

programming_languages.remove("JavaScript")                        # remove the value 'JavaScript' from the list
    
print(programming_languages)                                      #print updated list

['JavaScript', 'Python', 'Java', 'C++']
['Python', 'Java', 'C++']

6. Remove an element from a list by its index.

In [39]:
listOfname = ["Hello", "HI", "How", "Welcome"] # declared listOfname as a list
index = 1                                      # give the index of 1

listOfname.pop(index)                          # Passing index to the pop function to remove that element of the list at that index

print("List after deleting an item at the entered index:") # printing the list after deleting an item at the entered index
print(listOfname)

List after deleting an item at the entered index:
['Hello', 'How', 'Welcome']

7. Check if an element exists in a list.

In [41]:
list2 = ["Ketaki","Pooja","Nik","Hema","Dhanu"] # declaring list2 as a list
if "Pooja" in list2:                            # using in operator check the elememt is exist or not using if else statement
    print("yes, it exist")                      # if yes then print the yes
else: 
    print("Not exist")                           # otherwise display not exist

yes, it exist

8. Find the index of the first occurrence of an element in a list.

In [4]:
list=['Code', 'Favtutor', 'Machine Learning', 'Students', 'Studies', 'java', 'python']
print("index of Studies is",list.index('Studies'))
print("index of Code is",list.index('Code'))

index of Studies is 4
index of Code is 0

9. Count the occurrences of an element in a list.

In [4]:
def countX(numbers, x):                  # Function To count the number of occurrences
    return numbers.count(x)
 
numbers = [8, 6, 8, 10, 8, 20, 10, 8, 8]  #declare number as a list
x = 8                                     
print('{} has occurred {} times'.format(x, countX(numbers, x)))

8 has occurred 5 times

10. Reverse the order of elements in a list.

In [7]:
list1 = [2,4,6,8,9,12,17,23,56]      #declare list1 as a string
revList = list1[::-1]                # using range reverse the list
print(revList)                       #display the reversed list

[56, 23, 17, 12, 9, 8, 6, 4, 2]

11. Sort a list in ascending order.

In [10]:
list2 = [90,30,50,60,37,40,55,100,200,45]  # declared list2 as a list
list2.sort();                               # using sort method by defalut take ascending order
print(list2)                                # Display Ascending ordered list

[30, 37, 40, 45, 50, 55, 60, 90, 100, 200]

12. Sort a list in descending order.

In [11]:
list2 = [90,30,50,60,37,40,55,100,200,45]  # declared list2 as a list
list2.sort(reverse = True);                 # using sort method by defalut take ascending order but passing reverse = True make Descending order
print(list2)

[200, 100, 90, 60, 55, 50, 45, 40, 37, 30]

13. Create a list of even numbers from 1 to 20.

In [12]:
for i in range(2, 21, 2): # using for loop passing range 2 to 21 and 2 step will display all even numbers
    print(i)              # print list even numbers from 1 to 20

2
4
6
8
10
12
14
16
18
20

In [17]:
# second method for create list of even number from 1 to 20
for i in range(1, 21):      # using for loop i iterate the range from 1 to 21
    if i % 2 == 0:          # using if condition find the even number from the range
        print(i)            # print the list of even number

2
4
6
8
10
12
14
16
18
20

14. Create a list of odd numbers from 1 to 20.

In [19]:
for i in range(1, 20, 2): # using for loop passing range 1 to 20 and 2 step will display all odd numbers
    print(i)              # print list odd numbers from 1 to 20

1
3
5
7
9
11
13
15
17
19

In [21]:
# second method to create a odd list 
for i in range(1, 21):   # using for loop i iterate the range from 1 to 21
    if i % 2 == 1:           # using if condition find the odd number from the range 
        print(i)               # print the list of odd number

1
3
5
7
9
11
13
15
17
19

15. Find the sum of all elements in a list.

In [24]:
numlist = [1,2,3,4,5]       # Declare list numlist of numbers
numsum = sum(numlist)            #using sum function find the sum of the list     
print('Sum of List: ',numsum)     # display the sum of list

Sum of List:  15

In [38]:
#second method to sum of list elements
numlist = [1,2,3,4,5]
numsum=0
for i in numlist:              # Calculate sum of list
    numsum+=i
print('Sum of List: ',numsum)   # display the sum of list

Sum of List:  15

16. Find the maximum value in a list.

In [39]:
list1 = [1, 0, 4, 5, 100]      #dclare a list1 as a list
print("Maximum value of the list is:", max(list1))      #using max method display the maximum value from the list

Maximum value of the list is: 100

17. Find the minimum value in a list.

In [41]:
list1 = [1, 0, 4, 5, 100]      #dclare a list1 as a list
print("Maximum value of the list is:", min(list1))      #using min method display the minimum value from the list

Maximum value of the list is: 0

18. Create a list of squares of numbers from 1 to 10.

In [49]:
l = []             # created a blank list
for i in range(1,11):   # using for loop iterating the number from 1 to 10
     l.append(i * i);    # number square append to the list
print("List with square of number from 1 to 10:")   # print the list of squares of numbers
print(l)

List with square of number from 1 to 10:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [51]:
import random        # importing random 

res = random.sample(range(1, 50), 7)   # To generate random number list using random.sample()

print ("Random number list is : " +  str(res))  # printing result

Random number list is : [35, 22, 4, 45, 29, 31, 36]

In [52]:
# second method for random numbers
import random
 
res = [random.randrange(1, 50, 1) for i in range(7)]  # using list comprehension + randrange() to generate random number list
 
print ("Random number list is : " +  str(res))  # printing result

Random number list is : [10, 46, 23, 19, 46, 2, 31]

20. Remove duplicates from a list.

In [54]:
list1 = [1, 5, 3, 6, 3, 5, 6, 1]  # declared list1 as a list
print ("The original list is : " + str(list1))
 
list1 = list(set(list1))           # using set() to remove duplicated from list
 
print ("The list after removing duplicates : " + str(list1))  # printing list after removal distorted ordering

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

21. Find the common elements between two lists.

In [57]:
lista = ['How', 'Hello', 'cat', 'King']     # decalred 2 list 
listb = ['Hello', 'cat', 'cat', 'Lion', 'Tiger', 'Cat', 'Snake', 'whale', 'elephant', 'Queen', 'King']
set(lista).intersection(listb)             # using intersection method will find the common element from the two list

{'Hello', 'King', 'cat'}

22. Find the difference between two lists.

In [62]:
list1 = [10, 15, 20, 25, 30, 35, 40]  # decalred 2 list
list2 = [25, 40, 35]
 
result = set(li1).symmetric_difference(set(li2))  # using symmetric_difference will find the differance between two list
 
print(result)          # display result with difference

{20, 10, 30, 15}

23. Merge two lists.

In [64]:
test_list1 = [1, 4, 5, 6, 5]   # Initializing lists
test_list2 = [3, 5, 7, 2, 5]

for i in test_list2 :                           # using naive method to concat   
    test_list1.append(i)
print ("Concatenated list using naive method : "+ str(test_list1))   # printed the merged list

Concatenated list using naive method : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

24. Multiply all elements in a list by 2.

In [68]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]  # decalring list1 as a list                                                  # result having 0 value
for i in list1:                                              # iterate list1 using for loop
    result = i * 2                                            # each element multiply with 2 number and stored in to result variable
    print(result)                                              # display the result

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

25. Filter out all even numbers from a list.

In [77]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
l = []
for i in list1:
    if(i % 2) == 0:
        l.append(i)
print("All Even Numbers: ", l);

All Even Numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

26. Convert a list of strings to a list of integers.

In [80]:
list1 = [['1 2 3'], ['4 5 6']]   # decalred list having string list
for i in range(len(list1)):         # using for lopp iterate the element of list with length of range
    list1[i] = [int(e) for e in " ".join(list1[i]).replace("\'","").split()]  # used join , replace and split method to conver from string to integer

print(list1)             # display interger list of string

[[1, 2, 3], [4, 5, 6]]

In [6]:
#second method
list1 = [['1 2 3'], ['4 5 6'],['7 8 9']]   # decalred list1 having string list
list1 = [element.split(' ') for lstt in list1 for element in lstt] # iterate the element of list and split the string from the string
list1 = [[int(num) for num in lstt[:]] for lstt in list1]  # using for loop iterate the element of list
print(list1)                               # display the result

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

27. Convert a list of integers to a list of strings.

In [12]:
lst = [1, 12, 15, 21, 131]; # Decalred lst as a list
l=[]                        # l having empty string
for i,a in enumerate(lst):  # using enumerate function 
    l.append(str(a))       # append list with making as a string
print(l)

['1', '12', '15', '21', '131']

In [11]:
list_int = [1, 12, 15, 21, 131]   #decalred list_int as a list of integers
   
list_string = map(str, list_int)  # mapping
   
print(list(list_string))      # Printing sorted list of integers

['1', '12', '15', '21', '131']

28. Flatten a nested list.

In [14]:
nestedlist = [ [1, 2, 3, 4], ["Ten", "Twenty", "Thirty"], [1.1,  1.0E1, 1+2j, 20.55, 3.142]] #decalred a nested list 
flatlist=[]                     # flatlist having empty list
for sublist in nestedlist:    # iterate element from the nested list
    for element in sublist:   # iterate the element from the sublist
        flatlist.append(element)  # append all element to the flatlist
print(flatlist)                    # display the flat list element

[1, 2, 3, 4, 'Ten', 'Twenty', 'Thirty', 1.1, 10.0, (1+2j), 20.55, 3.142]

29. Create a list of the first 10 Fibonacci numbers.

In [16]:
def Fibonacci(n):
    if n<= 0:
        print("Incorrect input")
    # First Fibonacci number is 0
    elif n == 1:                                   
        return 0
    # Second Fibonacci number is 1
    elif n == 2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)
 
 
print(Fibonacci(10))

34

30. Check if a list is sorted.

In [5]:
test_list = [5,6,7,3,2,1];        #decalre test_list as a list
flag = 0
i = 1
while i < len(test_list):
    print(i-1)
    if(test_list[i] < test_list[i - 1]):    #if condition for check the second element of list is less than first element 
        flag = 1                              #decalre flag is 1
    i += 1                                   
     
# printing result
if (not flag) :                              
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

0
1
2
3
4
No, List is not sorted.

31. Rotate a list to the left by `n` positions.

In [8]:
list1 = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]   #decalred list1 as a list

ltRotate = int(input("Enter Position to Left Rotate List Items = "))  #taking input from user for rotate position

print('Original List Items Before Left Rotating')                 
print(ltList)                                                   # print the original list

list2 = list1[ltRotate:] + list1[:ltRotate]                    #using range(:) it take the last rotate elements from the list1 then first rotate element

print('\nFinal List Items After Left Rotating')
print(list2)                                                 # final output display

Enter Position to Left Rotate List Items =  5

Original List Items Before Left Rotating
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Final List Items After Left Rotating
[30, 35, 40, 45, 50, 5, 10, 15, 20, 25]

            32. Rotate a list to the right by `n` positions.

In [13]:
# Right Rotating a list to n positions
n = 3
 
list_1 = [1, 2, 3, 4, 5, 6]
if n>len(list_1):
    n = int(n%len(list_1))
list_1 = (list_1[-n:] + list_1[:-n])
 
print(list_1)

[4, 5, 6, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [15]:
def prime_numbers(n):                 #defining prime_number having n parameter
    primes = []                       #dclared empty list as primes
    for i in range(2, n + 1):           # for loop iterate the range from 2 to n+1
        for j in range(2, int(i ** 0.5) + 1): # for loop iterating the range 
            if i%j == 0:                     # if condition to check the number is prime or not
                break
        else:
            primes.append(i)                 # append all prime number to primes veriable
    return primes                            # return function

prime_list = prime_numbers(50)                   #assigning prime_numbers(50) to the prime_list variable
print(prime_list)                                # display the prime number list

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [17]:
my_list = list(range(10))   #decalred my_list having range of 1 to 10
chunk_size = 3              # declaring chunk having 3 value
while my_list:              #using while condition
    chunk, my_list = my_list[:chunk_size], my_list[chunk_size:]  # mylist is splited using chunk size
    print(chunk)        # print the chunk

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9]

35. Find the second largest number in a list.

In [18]:
 list_val = [20, 30, 40, 25, 10]   # declaring the list                   
list_val.sort()                    # sorting the list  
print("The second largest element of the list is:", list_val[-2])   #displaying the second last element of the list

The second largest element of the list is: 30

36. Replace every element in a list with its square.

In [26]:
# first method
list1 = [1,2,3,4,5,6,7,8]  #declared list1 as a list
for i in list1:           # iterate the for loop for taking one by one element
    print(i*i);            # print the element with multiply itself for squares

1
4
9
16
25
36
49
64

In [29]:
#second method
l = [1, 2, 3, 4, 5]    #decalred l as alist
l = list(map(lambda x: x**2, l))  # using map function taking every list element from list and perform the operation to multiply itseft .
print(l)      # print the result

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [34]:
keys = ['Tuesday', 'Wednesday', 'Thursday']
values = [1, 2, 3]

dictionary = zip(keys, values)   # zip did two lists together to create a list of key-value pairs

myDict = dict(dictionary)       # convert the list of key-value pairs to a dictionary

print(myDict);                 # display result

{'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3}

38. Shuffle the elements of a list randomly.

In [37]:
import random     # imported the random

list1 = [0, 1, 2, 3, 4]   #decalred list1 as a list

random.shuffle(list1)    # using random.shuffle for shuffle the list
print(list1)            # print the list

[3, 0, 1, 2, 4]

39. Create a list of the first 10 factorial numbers.

In [40]:
list1 = [1, 2, 3, 4, 5]   #decalred list1 as a list
fact = 1                  #decalred fact having 1 value
for item in list1:        # using for loop iterate the list1
    for number in range(1,item+1):   # using for loop iterate the range from 1 to item +1
        fact = fact * number         # calculate the factorial number
    print ("Factorial of", item, "is", fact)  # display the factorial numbers with the list items

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 12
Factorial of 4 is 288
Factorial of 5 is 34560

40. Check if two lists have at least one element in common.

In [41]:
def common_number(a, b):       #defining a function as a common_number
    return any(i in b for i in a)     # returning result about common or not using in method 
  
a = [1, 2, 3, 4, 5]            #decalring a as list
b = [5, 6, 7, 8, 9]            #decalring b as list                  
print(common_number(a, b))  #print the function # True
  
a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_number(a, b))  # False

True
False

41. Remove all elements from a list.

In [43]:
list1 = [66,77,8,9,56,67,86,23,45,67,89];   #decalred list1 as alist
list1.clear()                                # using clear function removed all element from the list
print(list1)                               # print the empty list

[]

42. Replace negative numbers in a list with 0.

In [45]:
list1 = [-1,5,7,9,-99,-77]  # decalred list1 as a list 
list2 = [0 if i < 0 else i for i in list1]    # using lamda having if condition used for i < 0 then = 0
print(list2)                                  # display the result

[0, 5, 7, 9, 0, 0]

43. Convert a string into a list of words.

In [49]:
string = "Ketaki Ubale, hello how are you"
word = string.split(" ");
print(word)

['Ketaki', 'Ubale,', 'hello', 'how', 'are', 'you']

44. Convert a list of words into a string.

In [54]:
words = ['Hello','How','are','you?']  #decalred a list having words 
string = ' '.join([str(i)for i in words])    # using join method join the word as a string using iterating the each word
print(string)                                # print the result

Hello How are you?

45. Create a list of the first `n` powers of 2.

In [68]:
#first method
n = 2
exponent = 0

while exponent < 16+1:
    res = n ** exponent
    exponent = exponent + 1
    print (res)

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536

In [69]:
#second method
for exp in range(17):
    print(2**exp)

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536

46. Find the longest string in a list of strings.

In [86]:
def maxString (lst):     #fuction for max string
    return max(lst, key=len);      #return the longest string  using max and len function
print(maxString(["Maharashtra","Karnataka","Mumbai","Goa","Chennai"])); # desplay result

Maharashtra

47. Find the shortest string in a list of strings.

In [88]:
def minString (lst):     #fuction for min string
    return min(lst, key=len);      #return the longest string  using min and len function
print(maxString(["Maharashtra","Karnataka","Mumbai","Goa","Chennai"])); # desplay result

Goa

48. Create a list of the first `n` triangular numbers.

In [91]:
limit = 20   # decalred linit as a variable having 10 value
triangle_nums = []    #decalred  triangle_nums as a empty list
num = 0               # num initialise as 0 value

for i in range(1, limit + 1):   # using for loop iterate the numbers from the given range
    num += i                    # increment num by 1
    triangle_nums.append(num)        # appending the num to the triangle_num
print(triangle_nums)                # display result

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210]

49. Check if a list contains another list as a subsequence.

In [94]:
def check_exists(l, lookup_list):   # defining a function as a check_exists
    check = True                       # check having true value
    for i in lookup_list:              # using for loop ierateing lookup_list 
        try:                           #using try method
            index = l.index(i)        
            l = l[index+1:]
        except ValueError:            # using except value
            check = False              # check having False value
            break                    # break the loop
    return check                      # return the check
l = [2,3,4,5,7,8,9,5,4,3,2,1,5,6,7,8,9,6,7,5,4] # decalred l as a list
lookup_list = [2,3,4,5,7,8,9,5,4,3,2,1]            # decalred lookup_list as a list

print(check_exists(l,lookup_list))                     # print the result with calling function

True

50. Swap two elements in a list by their indices.

In [98]:
fruits = ["oranges", "grapes"]

print("List of fruits before swap:")
print(fruits)

fruits[0], fruits[1] = fruits[1], fruits[0]  #swap elements at index 0 and 2

print("\nList of fruits after swap:")
print(fruits)

List of fruits before swap:
['oranges', 'grapes']

List of fruits after swap:
['grapes', 'oranges']

Tuple Based Practice Problem :
    
    1. Create a tuple with integers from 1 to 5.

In [103]:
tuple1 = (1,2,3,4,5)  # creating tuple1 as a tuple having 1 to 5 integer value
print(tuple1)        # print the tuple

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [106]:
tuple1 = (1,2,3,4,5)   # creating tuple1 as a tuple having 1 to 5 integer value
print(tuple1[2])       # using index we can access the third element from the tuple

3

3. Find the length of a tuple without using the `len()` function.

In [108]:
tuple1 = (1,2,3,4,5,4,5,6,7,8,9)  # Declared tuple1 as a tuple
l = len(tuple1)                   # using len function we can get the length of tuple
print(l)                          # print the length of tuple

11

4. Count the occurrences of an element in a tuple.

In [109]:
def Count(tup, en):     #defining function as a count
    return tup.count(en)      #return the result using count method
 
tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)     # decalred tuple 
enq = 4                                            # decalared enq having 4 value
enq1 = 10
enq2 = 8
print(Count(tup, enq), "times")            #print the occurances of the enq 
print(Count(tup, enq1), "times")
print(Count(tup, enq2), "times")

0 times
3 times
4 times

5. Find the index of the first occurrence of an element in a tuple.

In [7]:
test = ("Canada", "India", "Canada", "Japan", "Italy", "Canada") # declared test as a tuple
find = test.index("Canada")                                    # using index method we can find the index of first occurance 
print(find)                                                     # print result

0

6. Check if an element exists in a tuple.

In [10]:
tuple1 = (2,4,5,6,7,89,23,56,90,67,89,100,765,303)   # initialize tuple

N = 6             # initialize N 
res = N in tuple1      # Check if element is present in tuple  Using in operator

print("Does tuple contain required value ? : " + str(res))     # printing result

Does tuple contain required value ? : True

7. Convert a tuple to a list.

In [1]:
t1 = (1,2,3,4,5)
l1 = list([t1])
print([l1])

[[(1, 2, 3, 4, 5)]]

8. Convert a list to a tuple.

In [39]:
l1 = [1,2,3,4,5]  # Declared l1 as a list
t1 = tuple(l1)    # using tuple function list will convert into the tuple
print(t1)          # print tuple

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [46]:
a = ("Shivaji University", 5000, "Engineering") 

(college, student, type_ofcollege) = a   # this lines UNPACKS values of variable a   

print(college)                            # print college name                    
 
print(student)                            # print no of student
 
print(type_ofcollege)                        # print type of college

Shivaji University
5000
Engineering

10. Create a tuple of even numbers from 1 to 10.

In [50]:
even_numbers = [x for x in range(11) if x%2==0]   #using lambda function find the even number from 1 to 10
print(tuple(even_numbers))                        # print the even number in tuple

(0, 2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [52]:
even_numbers = [x for x in range(11) if x%2==1]   #using lambda function find the odd number from 1 to 10
tuple1 = (tuple(even_numbers))  
print(tuple1)                  # print the odd number in tuple

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [53]:
t1 = (2,3,4,5,6,7)           # decalred t1 as a tuple
t2 = (8,9,10,11,12,13)          # decalred t2 as a tuple
combine = t1+t2                 # using + sign we can concatinate two tuple
print(combine)                  # print the result

(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

13. Repeat a tuple three times.

In [58]:
t1 = ("Ketaki","Ubale","Kundan","Shravan")   # declared tuple 
n = 3                    # inintialise n = 3
result = ((t1) * 3)      # using * we can repeat 
print(result)            # display result

('Ketaki', 'Ubale', 'Kundan', 'Shravan', 'Ketaki', 'Ubale', 'Kundan', 'Shravan', 'Ketaki', 'Ubale', 'Kundan', 'Shravan')

14. Check if a tuple is empty.

In [60]:
t1 = (1, 2, 3)    # declared t1 as a tuple
t2 = ()            # declared t2 as a tuple
t1 = len(t1)       #converted length using len()
t2 = len(t2)     
if t1 == 0:          # check t1 is empty or not
    print("t1 is empty")  #print result
else:                    
    print("t1 is not empty")
if t2 == 0:                # check t2 is empty or not
    print("t2 is empty")   # true result
else:       
    print("t2 is not empty") # false result

t1 is not empty
t2 is empty

15. Create a nested tuple.

In [61]:
employee = ((10, "Itika", 13000), (24, "Harry", 15294), (15, "Naill", 20001), (40, "Peter", 16395))  # decalred employee as a nested tuple 
print(employee) #print the result

((10, 'Itika', 13000), (24, 'Harry', 15294), (15, 'Naill', 20001), (40, 'Peter', 16395))

16. Access the first element of a nested tuple.

In [75]:
tupple=[[('1', 23), ('2', 20), ('3', 15) ]]  # decalred tupple as a tuple
new = [[item[0] for item in inner] for inner in tupple]   #using nested for loop we can get the first element from the nested tuple
print(new)   # desplay the result

[['1', '2', '3']]

17. Create a tuple with a single element.

In [80]:
tuple1 = ("Shravan",) # decalred tuple1 as a tuple which having only one element
print(type(tuple1))    # show the type of 
print(tuple1)          # print the tuple

<class 'tuple'>
('Shravan',)

18. Compare two tuples.

In [83]:
tuple1 = (1, 2, 3)        #declared tuple1 as a tuple
tuple2 = (4, 5, 6)
print(tuple1 < tuple2)  #  compared using < operator
print(tuple1 > tuple2)  #  compared using > operator
print(tuple1 == tuple2) #  compared using == operator

True
False
False

19. Delete a tuple.

In [85]:
tuple1 = (1,3,4,5,6,8)  # declared tuple1 as a tuple
print(tuple1)           
del(tuple1)
print(tuple1)  # after deteted the tuple1( showing error because tuple is deleted)

(1, 3, 4, 5, 6, 8)

NameError: name 'tuple1' is not defined

20. Slice a tuple.

In [86]:
tuple1= ('a','b','c','d','e','f','g','h','i','j') #declared tuple1 as a tuple
print(tuple1[0:6])                               # using : operator we can slice the tuple , need to give the start and end and step for that
print(tuple1[1:9:2])
print(tuple1[-1:-5:-2])

('a', 'b', 'c', 'd', 'e', 'f')
('b', 'd', 'f', 'h')
('j', 'h')

21. Find the maximum value in a tuple.

In [87]:
tuple1 = (22,33,44,5,66,77,89,99,200,50)   #declared a tuple1 as a tuple
maxNumber = max(tuple1)                    #using max function find the maximum number from tuple
print(maxNumber)                              # print the maximum number

200

22. Find the minimum value in a tuple.

In [88]:
tuple1 = (22,33,44,5,66,77,89,99,200,50)   #declared a tuple1 as a tuple
minNumber = min(tuple1)                    #using min function find the minimum number from tuple
print(minNumber)                              # print the minimum number

5

23. Convert a string to a tuple of characters.

In [ ]:
string = "Shravan Ubale" # dclared string as a str
tuple1 = tuple(string)   # USING Tuple converted into the tuple of charactor
print(tuple1)              # display result

('S', 'h', 'r', 'a', 'v', 'a', 'n', ' ', 'U', 'b', 'a', 'l', 'e')

24. Convert a tuple of characters to a string.

In [104]:
tuple1 = ('K','u','n','d','a','n')   #decalred tuple1 as a tuple
string = ''.join(tuple1)             #using join method we can join the tuple charator

print(str(string))         # display string

Kundan

25. Create a tuple from multiple data types.

In [96]:
tuple1 = ("Ketaki", 34, True, 3.6) # created tuple1 having multiple data types
a = type(tuple1) # display the type of tuple1
print(a)
print(tuple1)                      # print the tuple

<class 'tuple'>
('Ketaki', 34, True, 3.6)

26. Check if two tuples are identical.

In [108]:
tuple1 = (11,12,13,14,15)   #decalred tuple1 and tuple2 as a tuple
tuple2 = (11,12,13,14,15)
result = tuple1 == tuple2    # checking the two tuples are identical or not

print("Are tuples identical?")  # display result
print(result)

Are tuples identical?
True

27. Sort the elements of a tuple.

In [111]:
tuple1 = (11,33,22,55,44,66,77,99,88)   # declared tuple1 as a tuple
sortedResult = sorted(tuple1)            # using sorted function we can sort the ascending ordered by default
print(sortedResult)                    # print the sorted  tuple

[11, 22, 33, 44, 55, 66, 77, 88, 99]

28. Convert a tuple of integers to a tuple of strings.

In [117]:
tuple1 = (111,222,333,444,555,666)
tuple2 = str(tuple1)
print(type(tuple2))
print(tuple2)

<class 'str'>
(111, 222, 333, 444, 555, 666)

29. Convert a tuple of strings to a tuple of integers.

In [127]:
tuple1 = "(7, 8, 9)"   # initializing string

res = tuple(int(num) for num in tuple1.replace('(', '').replace(')', '').replace('...', '').split(', ')) # Using tuple() + int() + replace() + split()
 
print("The tuple in integer : " + str(res))  # printing result

The tuple in integer : (7, 8, 9)

30. Merge two tuples.

In [129]:
t1 = (1,33,66,77,88) # declared 2 tuple t1 and t2
t2 = (44,66,77,99)
t3 = t1+t2          # using + oprator we can merge two tuple and stored the result in t3 variable
print(t3)          # print after merging 2 tuple

(1, 33, 66, 77, 88, 44, 66, 77, 99)

31. Flatten a nested tuple.

In [131]:
def flatten(test_tuple):             # Using recursion + isinstance()
     
    if isinstance(test_tuple, tuple) and len(test_tuple) == 2 and not isinstance(test_tuple[0], tuple):
        res = [test_tuple]
        return tuple(res)
 
    res = []
    for sub in test_tuple:
        res += flatten(sub)
    return tuple(res)
 
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))     # initializing nested tuple
 
print("The original tuple : " + str(test_tuple))                  # printing original tuple
 
res = flatten(test_tuple)
 
print("The flattened tuple : " + str(res))             # printing result

The original tuple : ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple : ((4, 5), (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

32. Create a tuple of the first 5 prime numbers.

In [3]:
prime_numbers = (2, 3, 5, 7, 11)

print(prime_numbers)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [4]:
def is_palindrome_tuple(t):
    return t == t[::-1]

# Test cases
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

if is_palindrome_tuple(tuple1):
    print("Tuple 1 is a palindrome.")
else:
    print("Tuple 1 is not a palindrome.")

if is_palindrome_tuple(tuple2):
    print("Tuple 2 is a palindrome.")
else:
    print("Tuple 2 is not a palindrome.")

Tuple 1 is a palindrome.
Tuple 2 is not a palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

nums = (1, 2, 3, 4, 5)

print("Square: ")
square_nums = tuple(map(lambda x: x ** 2, nums))  #using map method iterate the nums and find the square of each and craeteed as a tuple
print(square_nums)

35. Filter out all even numbers from a tuple.

In [26]:
nums = (1,2,3,4,5,6,7,8,9,10,11,22,33,44,56,78,90,22,33,54,87) # created nums as a tuple
even = tuple(filter(lambda x:x % 2 == 0, nums))                   # using filter function check the number is even or not
print("Even number from the tuple: ",even)                          # print only even numbers

Even number from the tuple:  (2, 4, 6, 8, 10, 22, 44, 56, 78, 90, 22, 54)

36. Multiply all elements in a tuple by 2.

In [33]:
nums = (1,2,3,4,5,6,7,8,9,10,11,22,33,44,56,78,90,22,33,54,87) # created nums as a tuple
mul2 = tuple(map(lambda x:x*2, nums))              # using map function multiply each element from tuple
print("Multiply with 2 all numbers: ",mul2)       # print the result

Multiply with 2 all numbers:  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 44, 66, 88, 112, 156, 180, 44, 66, 108, 174)

37. Create a tuple of random numbers.

In [34]:
import random

# Generate a tuple of 5 random integers between 1 and 100
random_numbers = tuple(random.randint(1, 100) for _ in range(5))

# Print the tuple of random numbers
print(random_numbers)

(82, 27, 95, 8, 96)

38. Check if a tuple is sorted.

In [35]:
def is_sorted_tuple(t):
    return t == tuple(sorted(t))

# Test cases
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)

if is_sorted_tuple(tuple1):
    print("Tuple 1 is sorted.")
else:
    print("Tuple 1 is not sorted.")

if is_sorted_tuple(tuple2):
    print("Tuple 2 is sorted.")
else:
    print("Tuple 2 is not sorted.")

Tuple 1 is sorted.
Tuple 2 is not sorted.

39. Rotate a tuple to the left by `n` positions.

In [36]:
def rotate_left_tuple(t, n):
    n = n % len(t)  # Ensure n is within the range of the tuple's length
    return t[n:] + t[:n]

# Test case
original_tuple = (1, 2, 3, 4, 5)
n = 2  # Rotate left by 2 positions

rotated_tuple = rotate_left_tuple(original_tuple, n)
print("Original Tuple:", original_tuple)
print(f"Rotated Left by {n} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Left by 2 positions: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [37]:
def rotate_right_tuple(t, n):
    n = n % len(t)  # Ensure n is within the range of the tuple's length
    return t[-n:] + t[:-n]

# Test case
original_tuple = (1, 2, 3, 4, 5)
n = 2  # Rotate right by 2 positions

rotated_tuple = rotate_right_tuple(original_tuple, n)
print("Original Tuple:", original_tuple)
print(f"Rotated Right by {n} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Right by 2 positions: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [38]:
def generate_fibonacci(n):
    fibonacci_sequence = []
    a, b = 0, 1

    for _ in range(n):
        fibonacci_sequence.append(a)
        a, b = b, a + b

    return tuple(fibonacci_sequence)

# Generate a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the tuple
print("The first 5 Fibonacci numbers:", fibonacci_tuple)

The first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [39]:
x = tuple(input("Enter a number:"))
print(x)
type(x)

Enter a number: 7

('7',)

tuple

In [41]:
# Input the elements from the user as a comma-separated string
user_input = input("Enter elements separated by commas: ")

# Split the input string into a list
elements_list = user_input.split(',')

# Convert the list into a tuple
user_tuple = tuple(elements_list)

# Print the resulting tuple
print("User's Tuple:", user_tuple)
type(user_tuple)

Enter elements separated by commas:  1,2,3,4,5

User's Tuple: ('1', '2', '3', '4', '5')

tuple

43. Swap two elements in a tuple.

In [44]:
t1 = (2,4)  
t2 = (8,5)
t1 , t2 = t2, t1  #swap t1 to t2 and from t2 to t1  
print(t1) # print the swaped tuple
print(t2)

(8, 5)
(2, 4)

44. Reverse the elements of a tuple.

In [45]:
def Reverse(tuples):           # Reverse function take the tuple as a argument
    new_tup = tuples[::-1]      #using range reverse 
    return new_tup             # return function
     
tuples = ('z','a','d','f','g','e','e','k')  # tuple created
print(Reverse(tuples))     # tuple pass as an arguments to the Reverse function

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

45. Create a tuple of the first `n` powers of 2.

In [46]:
# Input the value of n from the user
n = int(input("Enter the value of n: "))

# Create a tuple of the first n powers of 2
powers_of_2_tuple = tuple(2**i for i in range(n))

# Print the tuple
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Enter the value of n:  8

Tuple of the first 8 powers of 2: (1, 2, 4, 8, 16, 32, 64, 128)

46. Find the longest string in a tuple of strings.

In [47]:
# Create a tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Find the longest string using the max function and len as the key function
longest_string = max(my_tuple, key=len)

# Print the longest string
print("The longest string is:", longest_string)

The longest string is: elderberry

47. Find the shortest string in a tuple of strings.

In [48]:
# Create a tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Find the shortest string using the min function and len as the key function
shortest_string = min(my_tuple, key=len)

# Print the longest string
print("The longest string is:", shortest_string)

The longest string is: date

48. Create a tuple of the first `n` triangular numbers.

In [49]:
# Function to calculate the nth triangular number
def triangular_number(n):
    return n * (n + 1) // 2

# Specify the value of n
n = 5  # You can change this to any positive integer

# Create a tuple of the first n triangular numbers
triangular_numbers = tuple(triangular_number(i) for i in range(1, n + 1))

# Print the tuple of triangular numbers
print(triangular_numbers)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [50]:
def is_subsequence(sub, main):
    sub_len = len(sub)
    main_len = len(main)
    
    # Initialize indices for sub and main tuples
    i, j = 0, 0
    
    # Iterate through the main tuple
    while i < main_len and j < sub_len:
        if main[i] == sub[j]:
            j += 1
        i += 1
    
    # If j is equal to the length of the sub tuple, it's a subsequence
    return j == sub_len

# Example usage:
main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)

if is_subsequence(sub_tuple, main_tuple):
    print("Subtuple is a subsequence of the main tuple.")
else:
    print("Subtuple is not a subsequence of the main tuple.")

Subtuple is a subsequence of the main tuple.

50. Create a tuple of alternating 1s and 0s of length `n`.

In [51]:
# Specify the value of n
n = 10  # You can change this to the desired length

# Create a tuple of alternating 1s and 0s
alternating_tuple = tuple([1 if i % 2 == 0 else 0 for i in range(n)])

# Print the tuple
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :
    1. Create a set with integers from 1 to 5.

In [53]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

2. Add an element to a set.

In [54]:
my_set = {1, 2, 3, 4, 5}
my_set.update({6})  # Adds the element 6 to the set
print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [56]:
fruits = {"apple", "banana", "cherry"} #created set

fruits.remove("banana")  #removed banana using remove function

print(fruits) # print the updated set

{'apple', 'cherry'}

4. Check if an element exists in a set.

In [57]:
days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}

if "Monday" in days:
    print("Yes Exist");
else:
    print("Not Exist")

Yes Exist

5. Find the length of a set without using the `len()` function.

In [67]:
set1 = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"} # created set

count = 0    #initialise count is 0

for i in set1:  #iterating set1
    count+=1    # count the lenth of set
print("length of set1 is: ", count)    # print the count

length of set1 is:  7

6. Clear all elements from a set.

In [72]:
set1 = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"} # created set
set1.clear()  # using clear
print(set1)  # print empty set1

set()

7. Create a set of even numbers from 1 to 10.

In [82]:
even_numbers = [x for x in range(10) if x%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

8. Create a set of odd numbers from 1 to 10.

In [83]:
even_numbers = [x for x in range(10) if x%2==1]
print(even_numbers)

[1, 3, 5, 7, 9]

9. Find the union of two sets.

In [85]:
set1 = {1, 2, 3, 4, 5}  # declared set1 and  set2
set2 = {4, 5, 6, 7, 8}

union_set = set1 | set2  #using or union made from the two sets

print(union_set)  #print union sets

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [89]:
set1 = {1, 2, 3, 4, 5}  #declared set1 and  set2
set2 = {4, 5, 6, 7, 8}

intersection_set = set1 & set2   #using '&' operator intersection made from the two sets

print(intersection_set)  # print result

{4, 5}

11. Find the difference between two sets.

In [88]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference_set = set1 - set2

print(difference_set)

{1, 2, 3}

12. Check if a set is a subset of another set.

In [91]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2
is_subset = set1 <= set2

if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

13. Check if a set is a superset of another set.

In [92]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2
is_superset = set1 >= set2

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

In [94]:
my_list = [1, 2, 3, 4, 5]

# Create a set from the list
my_set = set(my_list)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [96]:
my_set = {1, 2, 3, 4, 5}  # created my_set as a set
mylist = list(my_set)     # using list my_set is converted into the list
print(mylist)            # print the list

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [103]:
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set
removed_element = my_set.pop()

# Print the removed element and the updated set
print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

17. Pop an element from a set.

In [104]:
set1 = {2,4,5,6,7,8,9}
removed = set1.pop()
print(removed)
print(set1)

2
{4, 5, 6, 7, 8, 9}

18. Check if two sets have no elements in common.

In [107]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 have no elements in common
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("set1 and set2 have no elements in common")
else:
    print("set1 and set2 have at least one element in common")

set1 and set2 have no elements in common

19. Find the symmetric difference between two sets.

In [108]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference_set = set1 ^ set2   # using ^ operator

print(symmetric_difference_set)

{1, 2, 3, 6, 7, 8}

In [109]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference_set = set1.symmetric_difference(set2)  # using symmetric_difference method

print(symmetric_difference_set)

{1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [110]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

print(set1)

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [111]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a set of the first 5 prime numbers
prime_set = set()
count = 0
num = 2  # Start with the first prime number

while count < 5:
    if is_prime(num):
        prime_set.add(num)
        count += 1
    num += 1

# Print the set of prime numbers
print(prime_set)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [112]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

are_identical = set1 == set2

if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [114]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

are_identical = set1.issubset(set2) and set2.issubset(set1)  #using issunset method

if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [115]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set) # using frozenset

print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [116]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 are disjoint
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("set1 and set2 are disjoint (they have no elements in common)")
else:
    print("set1 and set2 have at least one element in common")

set1 and set2 are disjoint (they have no elements in common)

25. Create a set of squares of numbers from 1 to 5.

In [117]:
# Create a set of squares of numbers from 1 to 5
squares_set = {x**2 for x in range(1, 6)}

# Print the set
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [118]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Use a set comprehension to filter out even numbers
filtered_set = {x for x in my_set if x % 2 != 0}

# Print the filtered set
print(filtered_set)

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [122]:
my_set = {1, 2, 3, 4, 5}

# Use a set comprehension to multiply each element by 2
multiplied_set = {x * 2 for x in my_set}

# Print the multiplied set
print(multiplied_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [123]:
import random

# Specify the range and the number of random numbers you want
min_num = 1
max_num = 100
num_random_numbers = 10

# Create a set of random integers
random_set = set(random.randint(min_num, max_num) for _ in range(num_random_numbers))

# Print the set of random numbers
print(random_set)

{66, 38, 6, 42, 75, 18, 88, 26, 28, 63}

29. Check if a set is empty.

In [124]:
my_set = set()  # This is an empty set

# Check if the set is empty
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [126]:
# Create a nested frozenset
nested_frozenset = frozenset([
    frozenset({1, 2, 3}),
    frozenset({4, 5, 6}),
    frozenset({7, 8, 9})
])

# Print the nested frozenset
print(nested_frozenset)

frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})})

31. Remove an element from a set using the discard method.

In [127]:
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set using discard
my_set.discard(3)

print(my_set)  # The set will no longer contain 3

{1, 2, 4, 5}

32. Compare two sets.

In [128]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Using the == operator
are_equal = set1 == set2

# Using issubset() and issuperset()
are_equal_alternate = set1.issubset(set2) and set2.issubset(set1)

if are_equal:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

if are_equal_alternate:
    print("The sets are equal (alternate check).")
else:
    print("The sets are not equal (alternate check).")

The sets are equal.
The sets are equal (alternate check).

33. Create a set from a string.

In [129]:
my_string = "hello"

# Create a set from the string using a set comprehension
my_set = {char for char in my_string}

# Print the set
print(my_set)

{'l', 'h', 'o', 'e'}

34. Convert a set of strings to a set of integers.

In [130]:
# Set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
integer_set = {int(x) for x in string_set}

# Print the set of integers
print(integer_set)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [131]:
# Set of integers
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
string_set = {str(x) for x in integer_set}

# Print the set of strings
print(string_set)

{'4', '2', '5', '3', '1'}

36. Create a set from a tuple.

In [132]:
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [133]:
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Print the tuple
print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [134]:
my_set = {1, 3, 5, 7, 9}

# Find the maximum value in the set using max function
max_value = max(my_set)

# Print the maximum value
print("Maximum value in the set:", max_value)

Maximum value in the set: 9

39. Find the minimum value in a set.

In [137]:
my_set = {1, 3, 5, 7, 9}

# Find the minimum value in the set using max function
min_value = min(my_set)

# Print the minimum value
print("Maximum value in the set:", min_value)

Maximum value in the set: 1

40. Create a set from user input.

In [1]:
# Take user input as a comma-separated string
input_string = input("Enter a comma-separated list of elements: ")

# Split the input string into a list using commas as the delimiter
input_list = input_string.split(',')

# Create a set from the input list
input_set = set(input_list)

# Print the resulting set
print("Set created from user input:", input_set)

Enter a comma-separated list of elements:  2,4,5,6,7

Set created from user input: {'7', '6', '2', '4', '5'}

41. Check if the intersection of two sets is empty.

In [2]:
# Define two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Check if the intersection is empty
if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [3]:
# Initialize an empty set to store the Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Use a loop to generate the first 5 Fibonacci numbers and add them to the set
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

# Print the resulting set
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [5]:
# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using sets
without_duplicates = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", without_duplicates)

List without duplicates: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [6]:
# Define two sets
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

# Check if the sets are equivalent
if set1 == set2:
    print("The sets are equivalent.")
else:
    print("The sets are not equivalent.")

The sets are equivalent.

45. Create a set of the first `n` powers of 2.

In [7]:
# Specify the value of n
n = 5  # Change this to the desired number of powers of 2

# Create a set to store the powers of 2
powers_of_2_set = set()

# Generate the first n powers of 2 and add them to the set
for i in range(n):
    power_of_2 = 2 ** i
    powers_of_2_set.add(power_of_2)

# Print the resulting set
print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [8]:
# Define a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find the common elements using the intersection method
common_elements = my_set.intersection(my_list)

# Convert the result to a list if needed
common_elements_list = list(common_elements)

# Print the common elements
print("Common elements:", common_elements_list)

Common elements: [3, 4, 5]

47. Create a set of the first `n` triangular numbers.

In [9]:
# Specify the value of n
n = 5  # Change this to the desired number of triangular numbers

# Create a set to store the triangular numbers
triangular_numbers_set = set()

# Generate the first n triangular numbers and add them to the set
triangular_number = 0
for i in range(1, n + 1):
    triangular_number += i
    triangular_numbers_set.add(triangular_number)

# Print the resulting set
print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [10]:
#first method
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [16]:
#second method
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1
if set2 <= set1:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [12]:
# Specify the value of n (length of the set)
n = 10  # Change this to the desired length

# Create a set to store the alternating 1s and 0s
alternating_set = set()

# Use a loop to generate the alternating sequence
for i in range(n):
    alternating_set.add(i % 2)

# Print the resulting set
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [13]:
#First method
# Define multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union method
merged_set = set1.union(set2, set3)

# Print the merged set
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}

In [15]:
#second method
# Define multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the | operator
merged_set = set1 | set2 | set3

# Print the merged set
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}